/* TODO
font sizing
font families
shadow on div
rounded corners on div
mobile vs desktop options

widths:
- Mobile: 375px
- Desktop: 1440px
*********************************/
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

/* BODY Light grey/blue background
Outfit font
*********************************/
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

/* H1 
Dark blue font color
Padding/font size
**************************/
h1 {
    color: hsl(218, 44%, 22%);
    padding: 20px 20px 10px;
    font-size: 1.4rem;
}

/* P 
Grey font color
Sizing ++
**************************/
p {
    color: hsl(216, 15%, 48%);
    padding: 0px 20px 25px;
}

/* COMPONENT
White background
Width fixed, 300px, Height auto
Border radius for curved corners
Text align center
Padding for adjusting img/h1/p
Margins (top 100px, l/r auto to center, bottom 80px)
**************************/
.component {
    background-color: white;
    width: 300px;
    height: auto;
    border-radius: 22px;
    text-align: center;
    padding: 18px 20px;
    margin: 100px auto 20px;
}

/* IMG
Sizing
Border radius for curved corners
*********************************/
.qr-code {
    border-radius: 10px;
}

/* ATTRIBUTION
Center by adjusting margins
Link colors to fit theme
*********************************/
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0px auto 40px;
    padding: 0px 20px 20px;
}

.attribution a:link { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:visited { 
    color: hsl(216, 15%, 48%); 
}

.attribution a:hover { 
    color: black; 
}

.attribution a:focus { 
    color: hsl(244, 80%, 44%); 
}
